<!-- Admin Title and Add New Button -->
<div class="admin-title">
    <h2>Author List</h2>
    <a href="/add-author" class="button">+ Add New</a>
</div>

<!-- List of Authors -->
<ul class="admin-posts">
    <% users.forEach(author => { %>
        <li>
            <a href="#">
                <%= author.username %> | <%= author.role %> &nearr;
            </a>
            <div class="admin-post-controls">
                <!-- Ban/Unban User Button -->
                <% if (author.banned === true) { %>
                    <form action="/unban-user/<%= author._id %>?_method=PUT" method="POST">
                        <input type="submit" value="Unban User" class="btn">
                    </form>
                <% } else { %>
                    <form action="/ban-user/<%= author._id %>?_method=PUT" method="POST">
                        <input type="submit" value="Ban User" class="btn">
                    </form>
                <% } %>
                
                <!-- More Details Form -->
                <form action="/profile/<%= author._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="More Details" class="btn-delete btn">
                </form>
            </div>
        </li>
    <% }) %>
</ul>
