</head>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/script.js"></script>

<style>
    .container {
    max-width: 800px;
    
    padding: 0 20px;
}

.share-interaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.share,
.interaction-icons {
    flex-basis: 48%;
}

.interaction-icons {
    text-align: right;
   
    
}
.interaction-icons form {
   
    
    display :inline-flex !important;
}
.interaction-icons form i{
  font-size: 20px;
}
.interaction-icons form i :hover{
  background-color: aliceblue;
}
.interaction-icons h2 {
    display: inline-flex;
    margin-left: 10px;
}
.comment-container {
        width: 100%;
        max-width: 600px;
        /*margin: 10px auto;*/
        margin-right: 10%;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin-top: 20px;
        display: block;
    }
    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .user-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .user-info .username {
        font-weight: bold;
    }
    .comment-content {
        margin-bottom: 10px;
    }
    .comment-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .comment-actions button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 10px;
        color: #333;
    }
    .comment-actions button:hover {
        text-decoration: underline;
    }
    .comments-section{
        display: block;
    }
    .hidden {
    display: none;
}
</style>
<head>
<div class="container">
    <h1><%= data.title %></h1>
    <h5><% if (data.author) { %>
        <%= data.author.username || '' %> |
         Created At: <%= data.updatedAt.toDateString() %> 
        | <i class="fa-regular fa-eye"></i> <span id="visitorCount">0</span> |
             </span> |<i class="fa-solid fa-icons"></i>
             <% if (data.categorie && data.categorie.Description !== '') { %>
                <%= data.categorie.Description %>
            <% } else { %>
                No category available
            <% } %></h5>
    <h5><% } else { %>
        Unknown Author |
         Created At: <%= data.updatedAt.toDateString() %> 
        | <i class="fa-regular fa-eye"></i> <span id="visitorCount">0</span> |
        <i class="fa-solid fa-icons"></i>
        <% if (data.categorie && data.categorie.Description !== '') { %>
            <%= data.categorie.Description %>
        <% } else { %>
            No category available
        <% } %>
    <% } %></h5>
    

   
    <img src="../public/uploads/<% data.image %>" />


    <article class="article">
        <%= data.body %>
    </article>
    <br>
    <hr> 

    <div class="share-interaction">
        <div class="share">
            <p>This is a great article!</p>
            <p>Share this article with your friends!   
            <button id="shareBtn"><i class="fa-solid fa-share-nodes"></i></button>
                <p class="result"></p>
            </p>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:5000/post/<%= data._id %>" target="_blank">Share on Facebook</a>
            <br>
            <a href="https://twitter.com/intent/tweet?text=Check+out+this+great+article!+localhost:5000/post/<%= data._id %>" target="_blank">Share on Twitter</a>
        </div>

        <div class="interaction-icons">
            <form action="/like" method="POST">
                <input type="hidden" name="postId" value="<%= data._id %>">
                <button type="submit"><i class="fa-regular fa-thumbs-up"></i><%= counts.likesCount %></button>
            </form>
           
            <form action="/dislike" method="POST">
                    <input type="hidden" name="postId" value="<%= data._id %>">
                    <button type="submit"><i class="fa-regular fa-thumbs-down"></i><%= counts.dislikesCount %></button>
            </form>
            <form action="/signaler" method="POST">
                <input type="hidden" name="postId" value="<%= data._id %>">
                <button type="submit"><i class="fa-solid fa-circle-exclamation" style="color: #f70202; padding: 1px;"></i> signaler le post</button>
            </form>
        </div>
    </div>
    
    <div class="comment">
        <p>We are happy to hear from you</p>
        <form action="/post/comments" method="post">
            <input type="hidden" name="postId" value="<%= data._id %>">
            <textarea id="Comment" name="Comment" rows="4" cols="50" placeholder="Comment text goes here..." ></textarea>
            <input type="submit" value="Publish" class="btn">
        </form>
        <p></p>
    </div>

    <div class="comments-section">
        <h2>Comments </h2>
        <span>(<%= counts.commentsCount %> comments)</span>
        <ul>
            <% if (postComment && postComment.length > 0) { %>
                <% postComment.forEach(comment => { %>
                    <div class="comment-container" id="commentContainer-<%= comment._id %>">
                        <div class="user-info">
                            
                            <!--<img src="../public/images/user-avatar.png" alt="User Avatar">-->
                            <i class="fa-regular fa-user-circle" style="font-size: 20px; padding-right: 75%;"></i>
                            <div class="username" style="font-size: 20px;text-align: left;"><%= comment.author.username %></div>
                            <div style="text-align: right;"><%= comment.createdAt.toDateString() %></div>
                        </div>
                        <div class="comment-content">
                            <p> <%= comment.description %></p>
                        </div>
                        <div class="comment-actions">
                            <form action="/comment/like" method="POST">
                                <input type="hidden" name="postId" value="<%= data._id %>">
                                <input type="hidden" name="commentId" value="<%= comment._id %>">
                                <button type="submit"><i class="fa-regular fa-thumbs-up"></i></button>
                            </form>
                            <button id="shareBtn"><i class="fa-solid fa-share-nodes"></i></button>
                                <p class="result"></p>
                            <form action="/delete-comment/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="postId" value="<%= data._id %>">
                                <input type="submit" value="Delete" class="btn-delete btn">
                              </form>
                        
                            
                              <button class="edit"><i class="fa-regular fa-edit"></i></button>

                              <form class="editForm hidden" action="/edit-comment/<%= comment._id %>?_method=PUT" method="POST">
                                  <div class="form-group">
                                      <input type="hidden" name="postId" value="<%= data._id %>">
                                      <input type="hidden" name="commentId" value="<%= comment._id %>">
                                      <label for="Comment">Edit comment</label>
                                      <textarea class="form-control" name="description" id="Comment<%= comment._id %>" rows="3" placeholder="Type here"><%= comment.description %></textarea>
                                  </div>
                                  <!-- Submit button -->
                                  <input type="submit" class="btn btn-primary" value="Save">
                              </form>
                              
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <li>No comments yet.</li>
            <% } %>
        </ul>
    </div>
</div>

